@import './base.css';



html, body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.modal {
  width: 50vw;
  height: 50vh;
  height: calc(var(--vh, 1vh) * 50);
}
/* #app {
  max-width: 1280px;
  margin: 0 0 40px;
  padding: 2rem;

  font-weight: normal;
} */
/* #app{
  height: 50%;
} */
/* html{
  position: relative;
} */

/* body{
  margin: 0 0 50 0;
}
body {
  display: flex;
  flex-direction: column;

} */

/* .formkit-wrapper{
  max-width: 417px;
} */

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app { */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem; */
  /* }
} */
