@import './base.css';

html {
  max-height: 95vh;
  position: relative;
}

html, body {
  width: 100%;
  height: 100%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  display: flex;
  height: 90vh;
  flex-direction: column;
  overflow:visible;
}
