@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 0 40px;
  /* padding: 2rem; */

  font-weight: normal;
}

html{
  /* min-height: 95vh; */
  position: relative;
}

body{
  /* width: 100vw;
  height: 100%; */
  margin: 0 0 50 0;
  /* margin-bottom: 40px; */
}
body {
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(to top, #ffffff, #888888);  */

}

/* .formkit-wrapper{
  max-width: 417px;
} */

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app { */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem; */
  /* }
} */
